@use 'sass:math';
@use 'groups/media';

$color-transition-time: 0.75s;

@mixin main {
  height: 100%;
  overflow: hidden;
  font-family: Ubuntu, 'Ubuntu Mono', monospace, sans-serif;

  * {
    margin: 0;
    padding: 0;

    &:disabled {
      filter: brightness(0.7) saturate(0.4);
    }
  }

  body {
    height: 100%;
    overflow: hidden;

    #root {
      height: 100%;
      overflow: hidden;
    }

    &.theme-change-applied {

      * {
        transition:
          border $color-transition-time,
          box-shadow $color-transition-time,
          text-shadow $color-transition-time,
          background $color-transition-time,
          color $color-transition-time;
      }
    }
  }

  ul {
    list-style-type: none;
  }

  .transparent {
    background: none;
    border: none;
  }

  .no-bg {
    background: none;
  }

  .no-border {
    border: none;
  }

  .no-color {
    color: transparent;
  }

  a {
    text-decoration: none;
  }
}
