$btn-icon-size-s: 18px;
$btn-icon-size-m: 20px;
$btn-icon-size-l: 24px;

$text-size-tiny: 12px;
$text-size-small: 14px;
$text-size-normal: 16px;
$text-size-large: 18px;
$text-size-subheading: 20px;
$text-size-heading: 24px;